<h2>Edit</h2>

<div class="show-user-container">
  <%= form_for(@user, url: admin_path(@user.id), method: :patch) do |f| %>

    <div class="field">
      <%= f.label :full_name %><br />
      <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name" %>
    </div>  

    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <button type="button" class="btn btn-primary btn-client back-main-btn back-btn-edit-show">
    <%= link_to "Back", :back, class: "back-btn" %>
  </button>
</div>
