<!DOCTYPE html>
<html>
  <head>
    <title>RailsStockApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
   <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
  <%if user_signed_in? %>
    <p>Signed in as <%= current_user.email %></p>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <%#remove if admin signed in%>
  <% elsif user_signed_in? == false && admin_signed_in? == false%>
    <%= link_to 'sign in', new_user_session_path %>
  <% end %>
     
  <%if admin_signed_in? %>
    <p>Signed in as <%= current_admin.email %></p>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <% elsif user_signed_in? == false && admin_signed_in? == false%>
    <%= link_to 'admin sign in', new_admin_session_path %>
  <% end %>

  

       
    <%= yield %>
  </body>
</html>
